@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
#logo{
    width: 105px;
}

.footer{
    background-color: #3d3d3d;
    color: #fff;
}
.copy{
    background-color: #1f1f1f;
}

.navbar{
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0,.9);
    font-size: 14px;
}
.dropdown:hover>.dropdown-menu {
    font-size: 14px;
}
@media (min-width: 1281px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
     }
     /* .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
        margin-top: 18px;
    } */
    .dropdown-item:hover {
        color: #1e56a4
    }
 }

